USE [master]
GO
/****** Object:  Database [BIDemo]    Script Date: 21-11-18 11:14:51 ******/
CREATE DATABASE [BIDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BIDemo', FILENAME = N'D:\MsSqlData\MSSQL11.STU3IG\MSSQL\DATA\BIDemo.mdf' , SIZE = 96256KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BIDemo_log', FILENAME = N'D:\MsSqlData\MSSQL11.STU3IG\MSSQL\DATA\BIDemo_log.ldf' , SIZE = 1108800KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BIDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BIDemo]
GO
/****** Object:  Schema [BiLaboETLCommun]    Script Date: 21-11-18 11:14:52 ******/
CREATE SCHEMA [BiLaboETLCommun]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 21-11-18 11:14:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateKey] [int] NOT NULL,
	[DayFrenchName] [nvarchar](100) NOT NULL,
	[DayEnglishName] [nvarchar](100) NOT NULL,
	[MonthFrenchName] [nvarchar](100) NOT NULL,
	[MonthEnglishName] [nvarchar](100) NOT NULL,
	[WeekNumber] [int] NOT NULL,
	[DayOfWeekNumber] [int] NOT NULL,
	[DayOfYearNumber] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_DimDate] PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimUser]    Script Date: 21-11-18 11:14:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimUser](
	[UserKey] [int] IDENTITY(1,1) NOT NULL,
	[StackOverflowId] [int] NOT NULL,
	[DisplayName] [nvarchar](40) NOT NULL,
	[Reputation] [int] NOT NULL,
 CONSTRAINT [PK_DimUser] PRIMARY KEY CLUSTERED 
(
	[UserKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactPost]    Script Date: 21-11-18 11:14:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactPost](
	[DateCreatedKey] [int] NOT NULL,
	[Score] [int] NOT NULL,
	[FavoriteCount] [int] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[AnswerCount] [int] NOT NULL,
	[PostKey] [bigint] IDENTITY(1,1) NOT NULL,
	[DateClosedKey] [int] NOT NULL,
	[AuthorKey] [int] NOT NULL,
 CONSTRAINT [PK_FactPost] PRIMARY KEY CLUSTERED 
(
	[PostKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactPost]  WITH CHECK ADD  CONSTRAINT [FK_FactPost_DimDate_Closed] FOREIGN KEY([DateClosedKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactPost] CHECK CONSTRAINT [FK_FactPost_DimDate_Closed]
GO
ALTER TABLE [dbo].[FactPost]  WITH CHECK ADD  CONSTRAINT [FK_FactPost_DimDate_Created] FOREIGN KEY([DateCreatedKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactPost] CHECK CONSTRAINT [FK_FactPost_DimDate_Created]
GO
ALTER TABLE [dbo].[FactPost]  WITH CHECK ADD  CONSTRAINT [FK_FactPost_DimUser_Author] FOREIGN KEY([AuthorKey])
REFERENCES [dbo].[DimUser] ([UserKey])
GO
ALTER TABLE [dbo].[FactPost] CHECK CONSTRAINT [FK_FactPost_DimUser_Author]
GO
USE [master]
GO
